<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>List</title>
</head>
<body>

	<form th:action="@{/person/search}" method="get">
		<input name="min" placeholder="min age...">
		<input name="max" placeholder="max age...">
		<input name="page">
		<input name="size" value="10">
		<button type="submit">Search</button>
	</form>

	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Age</th>
		</tr>
	
		<tr th:each="p : ${personList}">
			<td th:text="${p.id}"></td>
			<td th:text="${p.name}"></td>
			<td th:text="${p.age}"></td>	
			<td >
			<a th:href="@{'/person/delete?id=' + ${p.id}}">Delete</a>
			<a th:href="@{'/person/edit/' + ${p.id}}">Edit</a>
			</td>
			
			
		</tr>
	</table>

</body>
</html>