<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form th:action="@{/practice/search}" method="get">
		<input name="min" placeholder="min age...">
		<input name="max" placeholder="max age...">
		<input name="page" placeholder="page...">
		<input name="size" value="6">
		<button type="submit">Search</button>
	</form>


	<table>
		<tr>
			<th>ID</th>
			<th>Nam</th>
			<th>Age</th>
		</tr>	
		<tr th:each = "p : ${persons}">
			<td th:text = "${p.id}"></td>
			<td th:text = "${p.name}"></td>
			<td th:text = "${p.age}"></td>	
			<td >
			<a th:href="@{'/practice/delete?id=' + ${p.id}}">DELETE</a>
			<a th:href="@{'/practice/edit/' + ${p.id}}">EDIT</a>
			
			</td>
		</tr>
	</table>

</body>
</html>